---
layout: base
title: Die deutsche Seite zu React
description: Alles rund um React auf deutsch - Tutorials · Artikel · News
permalink: /
---
<main>
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-4 hero-logo text-center hidden-xs">
          {% include logo-de.svg %}
          <!-- <img alt="{{ site.title }}" src="/assets/img/logo-de.svg" width="100%"> -->
        </div>
        <div class="col-md-8 hero-text">
          <h1 class="hero-text-title">Mit <strong>{{ site.title }}</strong> bist du mittendrin!</h1>
          <h2 class="hero-text-slogan">Stöbere durch unsere Artikel und Tutorials - erfahre alles rund um React. </h2>
        </div>
      </div>
    </div>
  </div>


  <div class="home-section home-section--grey">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="home-section-headline">Artikel über ReactJS</h2>
          <p>ReactX.DE versorgt dich mit Artikeln rund um das Thema React und ReactJS.</p>
        </div>
      </div>
      <br>

      <div class="row">
        {% for post in site.posts limit:3 %}
          <div class="col-md-4 home-card-col">
            {% include _home_card.html %}
          </div>
        {% endfor %}
      </div>

      <br>

      <div class="row text-center">
        <div class="col-md-12">
          <a class="button" href="/artikel/">Alle Artikel ansehen</a>
        </div>
      </div>

    </div>
  </div>



  <!--
  <div class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="text-center">
            <img src="/assets/img/slack-screen.png">
          </div>
          <br>
          <h3 class="home-section-headline">ReactX Slack</h3>
          <p>Unsere Slack-Community wird jeden Tag größer, werde Teil und hilf anderen nicht über die gleichen React Stolpersteine zu fallen.</p>
          <a href="https://slack.reactx.de/" class="button-slack button-delight" target="_blank">
            { include slack-mark.svg } Slack betreten
          </a>
        </div>
  -->

  <div class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="">
            <img src="assets/img/meetup-logo.svg" width="220px">
          </div>
          <br>
          <br>
          <h3 class="home-section-headline">Wir lieben Meetups</h3>
          <p>
          Als deutsche Community zu ReactJS wollen wir, dass ihr euch trefft und austauscht. Bei Meetups lernt ihr zusammen und voneinander, so könnt ihr mit anderen Entwicklern Tipps und Tricks austauschen und sammelt praktische Erfahrung mit ReactJS. <br><br>Wir unterstützen Meetups, sowie wir sie auch selbst organisieren. Sag uns gerne Beschied, wir unterstützen auch dich gern beim Organisieren deines nächsten ReactJS Meetups!</p>
          <br>
          <a href="https://www.meetup.com/topics/reactjs/de" class="button-slack button-delight" target="_blank">
            <img src="assets/img/meetup-dot.png" height="42px"> <span>Meetups anzeigen</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--

  <div class="home-section home-section--grey">

  <div class="container">
    <h3 class="home-section-headline text-grey">Mit uns verpasst du nichts !</h3>
    <div class="row">
      <div class="col-md-8">
        <h5 title="Medium Artikel">
          <img src="/assets/img/medium-logo.svg" height="20px">
          <span class="badge">
            <img src="/assets/img/live.svg" width="16">
            <span>realtime</span>
          </span>
        </h5>
        <ul id="live-article"></ul>
      </div>
      <div class="col-md-4">
        <h5 title="">
          Kommende Meetups
        </h5>
      </div>
    </div>
  </div>

  </div>

  -->

  <div class="home-section home-section--brand">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="home-author-title">Bist du eher auf <strong>Output</strong> gepolt?<br>Werde Autor: Schreibe über ein <strong>React-Thema</strong></span><br>
          <span class="home-author-subtitle">Wir zahlen dir bis zu <a href="/autor-werden/" title="Autor werden">200 EUR</a> für einen guten Artikel.</span>
          <br>
          <br>
          <a href="/autor-werden#google-form" class="button-white">Jetzt bewerben</a>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section home-section--grey">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="home-author-title">Immernoch auf der Suche?<br>
          <span class="home-author-subtitle">Wir haben handverlesene Tutorials rund um das Thema ReactJS</span>
          <br>
          <br>
          <a href="/tutorials/" class="button">Einsteiger Tutorials ansehen</a>
        </div>
      </div>
    </div>
  </div>

</main>
