---
layout: base
title: home.title
description: home.description
permalink: /
---
<main>
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-4 hero-logo text-center hidden-md-down">
          <img alt="{{ site.title }}" src="/assets/img/logo-de.svg" width="80%">
        </div>
        <div class="col-md-8 hero-text">
          <h1 class="hero-text-title"><strong>Blockinfo</strong></h1>
          <h2 class="hero-text-slogan">{% translate home.headline %}.</h2>
        </div>
      </div>
    </div>
  </div>

    <div class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {% translate_file home/intro.md %}
          <br>
        </div>
      </div>
    </div>
  </div>


  <div class="home-section home-section--grey">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="home-section-headline">{% translate home.current_articles %}</h2>
        </div>
      </div>
      <br>

      <div class="row">
        {% for post in site.posts limit:3 %}
          <div class="col-md-4 home-card-col">
            {% include _home_card.html %}
          </div>
        {% endfor %}
      </div>

      <br>
      <div class="row text-center">
        <div class="col-md-12">
          {% if site.lang == "de" %}
            {% capture article_link_de %}{{site.baseurl_root}}/article{% endcapture %}
            <a class="button" href="{{article_link_de}}">{% translate home.view_articles %}</a>
          {% elsif site.lang != "de" %}
            {% capture article_link %}{{site.baseurl}}/article{% endcapture %}
            <a class="button" href="{{article_link}}">{% translate home.view_articles %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="home-section home-section--grey">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="home-author-title">{% translate home.new_idea %}</span><br>
          <span class="home-author-subtitle">{% translate home.message %}</span>
          <br>
          <br>
          {% if site.lang == "de" %}
            {% capture suggest_link_de %}{{site.baseurl_root}}/suggest-topic{% endcapture %}
            <a href="{{suggest_link_de}}" class="button">{% translate navigation.new_topic%}</a>
          {% elsif site.lang != "de" %}
            {% capture suggest_link %}{{site.baseurl}}/suggest-topic{% endcapture %}
            <a href="{{suggest_link}}" class="button">{% translate navigation.new_topic%}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</main>
