---
layout: base
title: Blockhain-Informationen einfach
description: Alles rund um Blockchain!
permalink: /
---
<main>
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-4 hero-logo text-center hidden-md-down">
          <img alt="{{ site.title }}" src="/assets/img/logo-de.svg" width="80%">
        </div>
        <div class="col-md-8 hero-text">
          <h1 class="hero-text-title"><strong>Blockinfo</strong></h1>
          <h2 class="hero-text-slogan">Themen rund um Blockchain, einfach erklärt!</h2>
        </div>
      </div>
    </div>
  </div>

    <div class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3 class="home-section-headline">Blockchain, Kryptowährungen du verstehst einfach nicht warum alle davon reden?</h3>
          <p>
            Die Themen rund um Blockchain werden immer alltäglicher und es kommen dabei viele Fragen auf. Wir versuchen mit <strong> Blockinfo.de </strong>
            eine Platform zu schaffen, auf der ihr ganz einfach und auch ohne technisches Wissen verstehen könnt worum es sich bei Begriffen wie "Blockchain", "Kryptowährungen", "Bitcoin" und vielem mehr handelt.
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>


  <div class="home-section home-section--grey">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="home-section-headline">Aktuelle Artikel</h2>
        </div>
      </div>
      <br>

      <div class="row">
        {% for post in site.posts limit:3 %}
          <div class="col-md-4 home-card-col">
            {% include _home_card.html %}
          </div>
        {% endfor %}
      </div>

      <br>
      <div class="row text-center">
        <div class="col-md-12">
          <a class="button" href="/artikel/">Alle Artikel ansehen</a>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section home-section--grey">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="home-author-title">Du hast Ideen für neue Artikel?<br>
          <span class="home-author-subtitle">Wir freuen uns auf deine Nachricht!</span>
          <br>
          <br>
          <a href="/thema-vorschlagen/" class="button">Thema vorschlagen</a>
        </div>
      </div>
    </div>
  </div>

</main>
