---
title: Alle Artikel
noindex: true
sitemap: false
permalink: /artikel/
layout: "page"
pagination:
  enabled: true
  per_page: 5
  trail:
    before: 2
    after: 2
---


<div class="container">
<div class="row">
  <div class="col-md-12">
    {% for post in paginator.posts %}
      {% cycle 'add row' : '<div class="row">', nil %}
      <div class="col-md-6">
      {% include _article.html %}
      </div>
      {% cycle 'end row' : nil, '</div><br>' %}
    {% endfor %}

    <nav aria-label="Paginierung">
      <ul class="pagination justify-content-center">
        {% if paginator.previous_page %}
          <li class="page-item">
            <a class="page-link" href="{{ paginator.previous_page_path }}" aria-label="Zurück">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Zurück</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ paginator.previous_page_path }}" aria-label="Zurück">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Zurück</span>
            </a>
          </li>
        {% endif %}
        {% if paginator.page_trail %}
          {% for trail in paginator.page_trail %}
            <li class="page-item {% if page.url == trail.path %}disabled{% endif %}">
              <a class="page-link" href="{{ trail.path | prepend: site.baseurl | replace: '/index.html', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
            </li>
          {% endfor %}
        {% endif %}
        {% if paginator.next_page %}
          <li class="page-item">
            <a class="page-link" href="{{ paginator.next_page_path }}" aria-label="Weiter">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Weiter</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ paginator.next_page_path }}" aria-label="Weiter">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Weiter</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="col-md-4">
    <!--
    <form action="/suche/" method="get" class="hidden-sm-down mb-4">
      <input type="text" class="form-control article-search" name="q" placeholder="Artikel durchsuchen">
    </form>

    <h2 class="h3">Tutorials</h2>
    {% include _sidebar_posts.html contains='tutorial' %}

    <a class="btn btn-secondary btn-block mb-4" href="/artikel/alle/">Alle Artikel anzeigen</a>

    <h2>Partner</h2>

    <div class="card card-block text-center">
      <a href="/jobs/mehrkanal/">
        Finde einen Job bei <span class="font-weight-bold">Mehrkanal in Essen</span><br> als Frontend-Entwickler!
        <img alt="MEHRKANAL GmbH Logo" class="my-1" src="/assets/img/jobs/logo-mehrkanal-180x50.png">
      </a>
    </div>
    -->
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <br>
    <p>Wir bei ReactX sind die deutsche Community zu ReactJS. Hier gibt es aktuelle Artikel und Tutorials in deutscher Sprache, die euch helfen eure React-Projekte umzusetzen. Unsere deutschen Autoren teilen in unterschiedlichen Tutorials ihre Erfahrungen mit euch und berichten von Neuigkeiten zum Thema ReactJS. Hilfreiche Artikel und verständliche Tutorials erwarten euch.</p>
    <br>
    <br>
  </div>
</div>

</div>

<div class="home-section home-section--brand">
  <div class="container">
    <div class="h3">Das sind dir nicht genug Artikel ?</div>
    <span class="home-author-subtitle">Wir zahlen dir bis zu <a href="/autor-werden">200 EUR</a> für einen guten Artikel.</span><br><br>
    <a href="/autor-werden" class="button-white">Thema vorschlagen…</a>
  </div>
</div>