<footer class="hidden-print">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="/einsteiger/">Für Einsteiger</a></li>
            <li class="list-inline-item"><a href="/artikel/">Alle Artikel</a></li>
            <li class="list-inline-item"><a href="/thema-vorschlagen/">Thema vorschlagen</a></li>
          </ul>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8">
          <span class="text-muted footer-copyright">Copyright © {{ site.time | date: '%Y' }} Blockinfo.de. Alle Rechte vorbehalten.</span>
        </div>
        <div class="col-md-4 text-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="/impressum/">Impressum</a></li>
            <li class="list-inline-item"><a href="/datenschutz/">Datenschutz</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
