<nav id="header" data-headroom class="navbar navbar-toggleable-sm fixed-top headroom headroom--pinned">
  <div class="container">
    <a class="navbar-brand" href="/">

      <img src="/assets/img/logo-de.png" height="40px">
    </a>
    <button class="hidden-print navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img src="/assets/img/nav-burger.svg" height="20px">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if page.url contains '/einsteiger' %}active{% endif %}">
          <a class="nav-link" href="/einsteiger/">Für Einsteiger</a>
        </li>
        <li class="nav-item {% if page.url contains '/artikel' %}active{% endif %}">
          <a class="nav-link" href="/artikel/">Alle Artikel</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-2 hidden-sm">
        <li class="nav-item {% if page.url contains '/thema-vorschlagen' %}active{% endif %}">
          <a class="nav-link" href="/thema-vorschlagen/" title="Autor werden">
            Thema vorschlagen
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>