.header {
  margin-bottom: 20px;
}

.header-workshop {
  background-color: #fcfcfc;
  border-bottom: 1px solid #efefef;
  color: #333;
  font-family: $font-family-serif;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-bottom: 40px;
}

.header-image {
}

@include media-breakpoint-up(sm) {}
@include media-breakpoint-down(sm) {}
