$hover-color: rgba(255,255,255,0.75);

.navbar {
  background: #FFF;
  // https://stackoverflow.blog/2017/02/14/why-stack-overflow-redesigned-the-top-navigation/
  box-shadow:
    0 1px 0 rgba(12,13,14,0.1),
    0 1px 3px rgba(12,13,14,0.1),
    0 4px 20px rgba(12,13,14,0.035),
    0 1px 1px rgba(12,13,14,0.025);
  font-size: 18px;
  z-index: 1;
  padding: 0;

  & a {
    color: #333;
    line-height: 1.8;
  }
}

.navbar-brand {
  height: 48px;
  width: 100px;
}

.navbar-brand svg {
  width: 48px;
  height: 30px;
}
.navbar-brand svg g {
  fill: $brand-color;
}

.navbar-toggleable-sm .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-item.active a {
  background: #EEE;
}

.nav-link {
  padding: 1em 1em;

  &:hover {
    background: #EEE;
    color: #333;
  }
}

.navbar-toggler-right {
  margin-top: 5px;
  position: relative;
  display: inline-block;
}

.navbar .form-inline {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (max-width: 767px) {
  .navbar-toggleable-sm>.container {
    width: 100%;
  }
}

.form-inline .navbar-search {
  background-color: rgba(#fff, 0.9);
  border: 2px solid #EEE;
  width: 8em;
  border-radius: 999px;
  transition: all 0.2s;

  &:focus {
    width: 15em;
  }
}
