---
layout: base
comments: true
---

{% for user_hash in site.data.users %}
  {% if page.author == user_hash[1].name %}
    {% assign author = user_hash[1] %}
  {% endif %}
{% endfor %}

<div class="container">
  <main role="main">

    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-10">
        <div class="header header-post">
          <img src="{{page.header_image}}" title="{{ page.title }}" class="header-image">
          <h1 class="header-post-title">{{ page.title }}</h1>
          <div class="header-post-author">von {{ author.name }}</div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center post">
      <div class="col-md-12 col-lg-10 post-content">

        {{ content }}
        <div id="post-feedback" class="hidden-print">
          <span>Artikel verständlich?</span>
          <button onclick="sendFeedback(event, 'up')">👍</button>
          <button onclick="sendFeedback(event, 'down')">👎</button>
        </div>

        {% comment %}
        {% include _author.html %}
        {% endcomment %}

        <p>
          <a href="{{site.repository_url}}/edit/master/{{page.path}}" target="_blank">Diesen Artikel auf GitHub verbessern</a>
        </p>

        <div id="disqus_thread"></div>
        <script>
          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://blockinfo-de.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>

        <div class="hidden-print">
          <!-- {% include _related_articles.html %} -->
        </div>
      </div>
    </div>
  </main>
</div>
